In [17]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [7]:
train = pd.read_csv("/Users/sebascordova/Desktop/Kaggle - House Prices/data/train.csv")
test = pd.read_csv("/Users/sebascordova/Desktop/Kaggle - House Prices/data/test.csv")

In [10]:
print(train.shape)
print(test.shape)

(1460, 81)
(1459, 80)

In [8]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Primer modelo con los datos originales

In [14]:
train.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

## Vamos a probar un Random forest, para ello convertimos las variables categóricas en numéricas

In [19]:
train.MSZoning.value_counts(dropna=False)

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [20]:
le = preprocessing.LabelEncoder()
le.fit(train.MSZoning)
train.MSZoning = le.transform(train.MSZoning)

In [21]:
train.MSZoning.value_counts(dropna=False)

3    1151
4     218
1      65
2      16
0      10
Name: MSZoning, dtype: int64

In [12]:
train.MSSubClass.value_counts(dropna=False)

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64

#### 20 - 1 1946 y más nuevos todos los estilos
#### 60 - 2 PISOS 1946 Y MÁS NUEVOS
#### 50 - 1-1/2 PISO ACABADO TODAS LAS EDADES

In [13]:
train.MSZoning.value_counts(dropna=False)

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64